//colores generales 
$color-body: #EFEEE9;

$color-nordic: #D3DDE7;

$color-tetsu-blue: #17194C;

$color-intergalactic: #273186;

$color-light-violet: #D5B4FB;

$color-duranta-yellow: #D8E63B;

$color-crema: #FDF7E7;

$color-rosa-viejo: #D8B0EA;